# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [2]:
number = 6

print(number)

6

##### Assinging float

In [4]:
number_float = 2.4 

print(number_float)

2.4

#### Performing Calculations on ints and floats

##### Addition

In [5]:
num1 = 2 
num2 = 5.4 

result = num1 + num2

print(result)
#short hand version
result += 2 #result = result + 2

7.4

##### Subtraction

In [7]:
result_diff = num2 - num1 
print(result_diff)

# short hand
result_diff -= 1 # result_diff = result_diff - 1
print(result_diff)

3.4000000000000004
2.4000000000000004

##### Multiplication

In [8]:
result_mul = num1 * num2
print(result_mul)


#shorthand

result_mul *= 2
print(result_mul)

10.8
21.6

##### Division

In [9]:
result_div = num2/num1
print(result_div)

# short-hand version
result_div /= 2
print(result_div)

2.7
1.35

##### Floor Division

In [10]:
result_floor=num2 // num1
print(result_floor)

#short-hand vesrsion
result_floor //=2
print(result_floor)

2.0
1.0

##### Modulo

In [11]:
result_mod = num2 % num1
print(result_mod)

# short hand ver
result_mod %= 2
print(result_mod)

1.4000000000000004
1.4000000000000004

##### Exponential

In [12]:
square = 5 ** 2 
print(square)

# short hand v
square **=2
print(square)

25
625

### String Input-Output

##### String Assignment

In [13]:
name = "anthony"
print(name)

anthony

##### print() <br>
<p>Don't forget about end=' '</p>

In [16]:
#print('This is my first name: ', name)

#print("Full Name: ", name, end = ' Naut')

help(print) #*args (name, age, address)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

##### String Concatenation

In [18]:
first_name = "Anthony"
last_name = "Naut"

full_name = first_name + " " + last_name
print(full_name)

#short hand v
full_name += " Jr"
print(full_name)

Anthony Naut
Anthony Naut Jr

##### Type Conversion

In [24]:
number_string = "32"

change_type_num = int(number_string)
print(number_string)
print(change_type_num)

print('\n')
print(type(number_string))
print(type(change_type_num))

#print(number_string + 10)  # This produces a type error

32
32


<class 'str'>
<class 'int'>

TypeError: can only concatenate str (not "int") to str

##### input()

In [28]:
# Input will ALWAYS return a string -- ALL THE TIME

age = input('What is your age?: ')
print(age)

add_age = int(age) + 1
print(add_age)

What is your age?: 19
19
20

##### format()

In [29]:
age = input('What is your age? ')

result_string = 'You are {} {} and you are getting wiser' .format (age,name)
print(result_string)

result_again = f'{age} is a great time in life !!!'
print(result_again)

#f string is {} being used to insert the age

What is your age? 19
You are 19 anthony and you are getting wiser
19 is a great time in life !!!

##### Old Way (python 2)

In [30]:
result_string2 = 'You are %s and you look great for your age' %age
print(result_string2)



#The %s operator lets you add a value into a Python string. The %s signifies that you want to add a string value into a string.

You are 19 and you look great for your age

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [33]:
model='Altima'
year='2006'
color='Black'
make='Nissan'

vehicle = f'My cars color is {color}, the year is {year}, the make is {make}, and the model is {model}'


print(vehicle)

My cars color is Black, the year is 2006, the make is Nissan, and the model is Altima

### If Statements

In [37]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

num1 = 5
num2 = 10 

if num2 == num1:
    print('Equal Values')
else:
    print('Not Equal')

if num2 >= num1:
    print('Num2 is greater')
elif num1 <= num2:
    print('Num1 is less than num2')

Not Equal
Num2 is greater

##### 'is' keyword

In [42]:
num3 = 55

if num3 is 55:
    print('This is the number 55')
    
# if num3 == 55 correction

This is the number 55

<>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-42-fde02aa2a552>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if num3 is 55:

##### 'in' keyword

In [47]:
# Check if char in name
char_name = 'Max Payne'


#sample_list = ['M', 'a', 'x']

#in is the boolean

#if "x" in sample_list:

if "Max" in char_name:
    print('The character who lost everything...')

The character who lost everything...

##### 'not in' keyword'

In [48]:
capcom_char = "Gill"

if 'shoto' not in capcom_char:
    print('Not here boss...')

Not here boss...

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [59]:

cap_char= input('Enter your character!: ')

if 's' not in cap_char:
    print('no shoto')
elif 's' in cap_char:
    print('Yessir')

Enter your character!: ken
no shoto

## Using 'and'/'or' with If Statements

In [62]:
num_11 = 15
num_12 = 3
num_13 = 10
num_14 = 3

#if with "and " statements
if num_11 /5 == num_12 and num_13 -7 == num_14:
    print('True and True')
    
# if with 'or" statements

if num_11 >num_12 or num_13 == num_14:
    print('True and False')

True and True
True and False

### Elif Statements

In [64]:
first_name = "Max"

if first_name == "Smith":
    print('The name is Smith')
elif first_name != 'Max':
    print('The name is NOT Max')
else:
    print('The name is Max')

The name is Max

### Else Statements

In [ ]:
# see above

### For Loops

In [71]:
# for keyword, counter, in keyword, condition

#for i in range(10):
#   print(i)

name = "Anthony Naut"

#for letter in name:
  #  print(letter)
    
for i in range(len(name)):
        print(name[i])
print(i)

A
n
t
h
o
n
y

N
a
u
t
11

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [72]:
for i in range(20):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Break Statement

In [ ]:
# will break out of current loop

In [73]:
for i in range(20):
    if i == 5:
        break
    print(i)

0
1
2
3
4

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [74]:
for i in name:
    pass # TODO: come back and finish implementation

##### Double For Loops

In [76]:
for i in range(5):
    for j in range(5):
        print("i =", i, "j =", j)

i = 0 j = 0
i = 0 j = 1
i = 0 j = 2
i = 0 j = 3
i = 0 j = 4
i = 1 j = 0
i = 1 j = 1
i = 1 j = 2
i = 1 j = 3
i = 1 j = 4
i = 2 j = 0
i = 2 j = 1
i = 2 j = 2
i = 2 j = 3
i = 2 j = 4
i = 3 j = 0
i = 3 j = 1
i = 3 j = 2
i = 3 j = 3
i = 3 j = 4
i = 4 j = 0
i = 4 j = 1
i = 4 j = 2
i = 4 j = 3
i = 4 j = 4

### While Loops

In [1]:
# while keyword, condition statement
# based on the conditional statement

num = 0

while num < 10:
    print(num)
    num += 1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [5]:
game_over = False

while True:
    print("infinite Loop")
    if game_over == False:
        break

infinite Loop

##### While & For Loops Used Together

In [1]:
num = 0

while num < 5:
    print("\n While Loop Iteration: " + str(num))
    
    for i in range(2):
        print("Fpr Loop Iteration: ", str(i))
        
    num += 1

 While Loop Iteration: 0
Fpr Loop Iteration:  0
Fpr Loop Iteration:  1

 While Loop Iteration: 1
Fpr Loop Iteration:  0
Fpr Loop Iteration:  1

 While Loop Iteration: 2
Fpr Loop Iteration:  0
Fpr Loop Iteration:  1

 While Loop Iteration: 3
Fpr Loop Iteration:  0
Fpr Loop Iteration:  1

 While Loop Iteration: 4
Fpr Loop Iteration:  0
Fpr Loop Iteration:  1

### Built-In Functions

##### range()

In [2]:
#Start, Stop, Step

for i in range(2, 20, 2):
    print(i)

2
4
6
8
10
12
14
16
18

##### len()

In [ ]:
#check Length of a var
name = "Max "
length = len(name)
print(length)

##### help()

In [9]:
# Use this function to view more info about a python function (with Docstring)
#help(range)
range?

##### isinstance()

In [11]:
# Check a variable to find out what Obj family it belong to
#iisinstance(var, type)

print(isinstance(4.5,int))

if isinstance(4.5,float):
    print("this is a float type")

False
this is a float type

##### abs()

In [12]:
# | 5 |

print(abs(-5))

5

### Try and Except

In [ ]:


try:
    number_test = 0
    input_num = int(input('Guess a Number: '))
    if input_num != number_test:
        input_num = input_num + number_test
        print('Your Number is: ' + str(input_num))
except:
    print("That did not work ---- ERROR: Change input to a number")

### Lists

##### Declaring Lists

In [3]:
#1_1 = [] # Empty List Declaration

names = ['Rony', 'Blair', 'Ally', 'Alpha Ryan', 'Bob']
print(names)

['Rony', 'Blair', 'Ally', 'Alpha Ryan', 'Bob']

##### Indexing a List

In [7]:
# [start: stop: step] -- [-1]

# Single Index
print(names[0])

#print starting at index 1 going to the end
print(names[1:])

# Print starting at the beginning of a list to N ( n == the number we want to stop at)
print(names[:2])

# print starting at index 1 going up by 2 in each iteration
print(names[1::2])

# print starting from the back and present in reverse order
print(names[::-1])

Rony
['Blair', 'Ally', 'Alpha Ryan', 'Bob']
['Rony', 'Blair']
['Blair', 'Alpha Ryan']
['Bob', 'Alpha Ryan', 'Ally', 'Blair', 'Rony']

##### .append()

In [8]:
names.append('Joel AKA Zordon')
print(names)

['Rony', 'Blair', 'Ally', 'Alpha Ryan', 'Bob', 'Joel AKA Zordon']

##### .insert()

In [9]:
# list.insert(index, value)
names.insert(3,"Anthony")
print(names)

['Rony', 'Blair', 'Ally', 'Anthony', 'Alpha Ryan', 'Bob', 'Joel AKA Zordon']

##### .pop()

In [10]:
# default is the last value if no parameter is given
# pop returns the element that was removed n case you want to assign it to a variable

#a_name = names.pop()
#print(a_name)

print(names.pop(2))

Ally


##### .remove()

In [13]:
# value to be removed, not index
#names.remove("Anthony")
#print(names)

#remove multiple bobs out of the list
while "Anthony" in names:
    names.remove("Anthony")
print(names)

['Rony', 'Blair', 'Alpha Ryan', 'Joel AKA Zordon']

##### del()

In [ ]:
# index

del(names[1])
print(names)

##### Concatenating Two Lists

In [ ]:
#will append two lists together 

l_2 = [0,1,2]
l_3 = [3,4,5]

large_list = l_2 + l_3

##### Lists Within Lists

In [15]:
# Lists are able to hold any type of element, including OTHER lists themselves
# they can also go as deep as you want, having many lists nested inside of eachother

names = ["Max", "Sam", "Josh", ["Sally", "Sue", "Tameka"]]
print(names)
     
print(names[3][1])

['Max', 'Sam', 'Josh', ['Sally', 'Sue', 'Tameka']]
Sue

##### Looping Through Lists

In [18]:
# two ways to loop through a list, one by index, the other by using the "in" keyword

#Loop wth for loop (By Index)
for i in range(len(names)):
    print(names[i])
    
# Loop with a for lop (using the "in" keyword)
for i in names:
    print(i)

Max
Sam
Josh
['Sally', 'Sue', 'Tameka']
Max
Sam
Josh
['Sally', 'Sue', 'Tameka']

In [19]:
for index, value in enumerate(names):
    print(f'the index is {index} and the value is {value}')

the index is 0 and the value is Max
the index is 1 and the value is Sam
the index is 2 and the value is Josh
the index is 3 and the value is ['Sally', 'Sue', 'Tameka']

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [ ]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>